.rightbar{
    flex: 3.5;
    height: calc(100vh - 50px) ;
    overflow-y: scroll;

}
::-webkit-scrollbar{
    width: 1px;
}
::-webkit-scrollbar-track{
    background-color: white;

}
::-webkit-scrollbar-thumb{
    background-color: #d0caca;
    width: 1px;
}


.rightbarWrapper{
    padding: 20px 20px 0 0;
}
.birthDayContainer{
    display: flex;
    align-items: center;
}
.birthDayImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.birthDayText{
font-weight: 300;
font-size: 20px;
}
.rightbarAd{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}
.rightbarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightbarTitle{
    margin-bottom: 20px;
}

.rightbarTitle{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 15px;
}

.rightbarfollowingImg{
    width: 130px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.rightbarInfo{
    margin-bottom: 30px;
   margin-left: 15px;
}
.rightbarInfoItem{
    margin-bottom: 10px;
}
.rightbarInfoKey{
    font-weight: 600;
    margin-right: 8px;
    color: #555;
}
.rightbarInfoValue{
    font-weight: 300;
}
.rightbarfollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.rightbarfollowing{
    display: flex;
    flex-direction: column;
     margin: 10px 0; 
    cursor: pointer;
}
.rightbarfollowingName{
    margin-top: 5px;
    text-align: center;
}
