.message{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messageTop{
    display: flex;
}

.messageTopImg{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.messageTopText{
    border-radius:20px ;
    background-color: rgb(12, 12, 208);
    color: white;
    padding: 10px;
    margin-left: 15px;
    max-width: 300px;
    
}
.messageBottom{
    margin-top: 10px;
  font-size: 12px;
}
.message.own{
    align-items: flex-end;
}
.message.own .messageTopText{
    background-color: rgb(227, 219, 219);
    color: black;
}